body{
    background-color:#ff3c00;
    color:#000000;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 40%;
}


.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
}

.imagem-escola {
    width: 20%
}

.about {
    color: #7a0707;
}

.cabecalho-lista-item{
    color: #7a0707;
}